<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.submission3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <permission
        android:name="com.example.submission3.READ_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/github_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name=".FavoriteProvider"
            android:authorities="com.example.submission3"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="true"
            android:readPermission="com.example.submission3.READ_DATABASE" />

        <activity android:name=".FavoriteActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".Dashboard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".DailyReminderReceiver" />
    </application>

</manifest>